/* .App {
  text-align: center;
  align-items: center;
} */
    .f-outline input:focus-within ~ label,
    .f-outline input:not(:placeholder-shown) ~ label {
        transform: translateY(-1.4rem) 
        /* translatex(-1rem) */
         /* scaleX(0.80)  */
         scaleY(0.80);
        color: #2C77CF;
        text-align: left;
        /* float: left; */
        height: fit-content;
    }

/* select input field floting property */
.f-outline select:focus-within ~ label,
.f-outline select:not(:placeholder-shown) ~ label {
    transform: translateY(-1.4rem) 
    /* translatex(-1rem) */
     /* scaleX(0.80)  */
     scaleY(0.80);
    color: #2C77CF;
    text-align: left;
    /* float: left; */
    height: fit-content;
}


    /* inputIcon */
    *{
      font-family: 'Montserrat';
    }